/*progressBar and volumeSlider*/
QSlider::groove:horizontal {
    height: 6px;
    margin: 0px 0px;
    left: 24px; right: 24px;
    border: 3px solid #999999;
}
QSlider::handle:horizontal {
    border: 3px solid #5c5c5c;
    border-image:url(player/slider.png);
    width: 18px;
    margin: -12px -12px -12px -12px;
}
QSlider::sub-page:horizontal{
    background-image:url(player/slider_left.png)
}
QSlider::add-page:horizontal{
    background-image:url(player/slider_right.png)
}
