<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>f4v</string>
				<string>flv</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Flash Video File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xspf</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/xspf+xml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>XSPF Playlist</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m3u</string>
				<string>m3u8</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Playlist file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ram</string>
				<string>rm</string>
				<string>rmvb</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>RealPlayer Media Files</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>vob</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>VOB File (DVD Video)</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dat</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>DAT file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ogm</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Ogg MPEG-4 Video File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ogv</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/ogg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Ogg Video File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>axv</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/annodex</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Annodex Video File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gxf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>General eXchange Format File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mxf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Material Exchange Format</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>avi</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>AVI container</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mov</string>
				<string>moov</string>
				<string>qt</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/quicktime</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Apple QuickTime container</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>divx</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>DivX file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dv</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>DV file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>asf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Advanced Streaming Format</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wtv</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Windows Recorded TV Show</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mpg</string>
				<string>mpeg</string>
				<string>mpeg1</string>
				<string>mpeg2</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>multiplexed MPEG-1/2</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m1v</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MPEG-1 Video File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m2p</string>
				<string>ps</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MPEG-2 Program Stream</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ts</string>
				<string>m2ts</string>
				<string>mts</string>
				<string>mt2s</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/mp2t</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MPEG-2 Transport Stream</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m2v</string>
				<string>mpv</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MPEG-2 Video File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp4</string>
				<string>mpeg4</string>
				<string>m4v</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MPEG-4 File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>3gp</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>3GPP File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mkv</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Matroska Video File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>webm</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>WebM Video File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>vro</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>DVD Video Recording Format</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tod</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>JVC Everio Video Capture File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mks</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Matroska Elementry Stream</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nsv</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/nsv</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Nullsoft Streaming Video</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nuv</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>NuppleVideo File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>MoonPlayer</string>
	<key>CFBundleGetInfoString</key>
	<string>Created by Qt/QMake</string>
	<key>CFBundleIconFile</key>
	<string>moonplayer.icns</string>
	<key>CFBundleIdentifier</key>
	<string>test.MoonPlayer</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>MoonPlayer URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>moonplayer</string>
				<string>moonplayers</string>
			</array>
		</dict>
	</array>
	<key>NOTE</key>
	<string>This file was generated by Qt/QMake.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
